* {
  margin: 0;
  padding: 0;
  font-family: "pangramregular";
  color: #5799a7;
}
@font-face {
  font-family: "pangrambold";
  src: url("./fonts/pangram-bold-webfont.woff2") format("woff2"),
    url("./fonts/pangram-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pangramblack";
  src: url("./fonts/pangram-black-webfont.woff2") format("woff2"),
    url("./fonts/pangram-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pangramextrabold";
  src: url("./fonts/pangram-extrabold-webfont.woff2") format("woff2"),
    url("./fonts/pangram-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pangramextralight";
  src: url("./fonts/pangram-extralight-webfont.woff2") format("woff2"),
    url("./fonts/pangram-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pangramlight";
  src: url("./fonts/pangram-light-webfont.woff2") format("woff2"),
    url("./fonts/pangram-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pangrammedium";
  src: url("./fonts/pangram-medium-webfont.woff2") format("woff2"),
    url("./fonts/pangram-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pangramregular";
  src: url("./fonts/pangram-regular-webfont.woff2") format("woff2"),
    url("./fonts/pangram-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Components */
.menu,
.modal-menu,
.menu-options,
.menu-options .menu-selector {
  display: flex;
}
.menu {
  position: fixed;
  width: 100%;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  text-transform: uppercase;
  z-index: 1;
}

.menu img {
  height: 75px;
}

.reservation {
  color: #e29d42;
}
.underline:hover {
  color: #e29d42 !important;
}

.reservation:hover {
  color: #616161 !important;
}

.logo {
  background-color: white;
  border-radius: 50%;
}
.menu-opener {
  padding-right: 50px;
}
.modal-menu {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: relative;
}
.animation {
  animation-name: entrance;
  animation-duration: 1s;
}
.no-animation {
  animation-name: exit;
  animation-duration: 1s;
}
.menu-video {
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: black;
}

.menu-options {
  width: 50%;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
}

.menu-options .menu-selector {
  z-index: 2;
}
.menu-selector a {
  color: white;
}
svg {
  fill: white;
}
.menu-options::before {
  content: "";
  position: absolute;
  background-image: url(./media/espetada.png);
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
}

.cancel-icon {
  position: absolute;
  top: 30px;
  right: 40px;
}

.menu-options .menu-selector {
  flex-direction: column;
  align-items: baseline;
  font-size: 3rem;
}

.underline {
  text-decoration: none;
}

.social {
  width: 35px;
}
.icon-fix {
  width: 35px;
}
.social:hover {
  zoom: 1.5;
}

.social-media a {
  padding: 20px;
}
.address {
  font-size: 20px;
  bottom: 100px;
  z-index: 3;
}
.address p {
  color: white;
}
.address a {
  text-decoration: none;
}
.social:hover {
  fill: #e29d42 !important;
}
svg:hover {
  fill: #e29d42 !important;
}

.social-media {
  flex-direction: row;
  z-index: 3;
}

/* Presentation */
.presentation {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation img {
  width: 300px;
  padding-bottom: 5%;
}
.about-content {
  font-size: larger;
  padding: 0 0 0 5%;
  color: black;
  width: 600px;
}

.about-content p {
  color: #5799a7;
  font-weight: 700;
  font-size: 1.2rem;
}

.home-reservation {
  color: black;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  z-index: 0;
}

.home-reservation::after {
  content: "";
  position: absolute;
  background: url("./media/reservations.PNG");
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
  z-index: -1;
}
.home-reservation-content {
  width: 80%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}
.reservation-title {
  display: flex;
  justify-content: center;
}
.reservation-title h1 {
  color: white;
}

.home-form {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.input {
  width: 220px;
  height: 40px;
  border-radius: 4px;
  color: black;
  padding: 5px;
}
/*about*/
.about-section {
  background-color: #e29d42;
}
.about-content {
}
/*Location*/
.location {
  position: relative;
}
.titlelocation {
  position: absolute;
  top: -100px;
  right: 20%;
  color: #e29d42;
  font-size: 6rem;
}
.locationtext {
  background-color: #e29d42;
  font-size: 6rem;
  color: #5799a7;
  text-align: center;
}
/*Footer*/
.footer {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 15px;
}

.footer-container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-logo {
  width: 75px;
}

.footer-logo img {
  width: 75px;
  background-color: white;
  border-radius: 50%;
}
.footer-social a {
  padding-left: 5px;
}

.footer-reservation-button {
  border: 3px solid white;
  padding: 15px;
  cursor: pointer;
}

.footer-reservation-button:hover {
  border: 3px solid #e29d42;
  color: #e29d42;
}
.footer-rights {
  display: flex;
  justify-content: center;
}

@keyframes entrance {
  from {
    left: -4000px;
  }
  to {
    left: 0px;
  }
}

@keyframes exit {
  from {
    left: 0;
  }
  to {
    left: 4000px;
  }
}

@media only screen and (max-width: 1000px) {
  .menu-video {
    display: none;
  }

  .menu-options {
    width: 100%;
  }
  .presentation {
    flex-direction: column;
  }
  .about-image {
    display: none;
  }

  .about-content {
    order: 1;
    padding: 0 0 10% 0;
  }

  .presentation img {
    width: 200px;
  }
  .about-content {
    max-width: 250px;
  }
  .titlelocation {
    display: none;
  }
  .locationtext {
    font-size: 2rem;
  }

  .menu-options {
    padding: 0;
    height: 110vh;
  }
  .cancel-icon {
    right: 10px;
  }
  .menu-selector {
    padding: 0;
  }
  .menu-selector a {
    font-size: 2rem;
  }
  .social-media svg {
    width: 25px;
    height: 25px;
  }
  .footer-directions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-container {
    flex-direction: column;
  }
  .address {
    padding-bottom: 30px;
  }
}

@media only screen and (min-width: 1001px) {
  .footer-container {
    flex-direction: row;
  }
}
/* Pages */
.heading {
  background: url(./media/hero-img.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
